/.env
/.env.*
!/.env.example

/.phpunit.result.cache
/.idea/
/.vscode/
/node_modules/
/npm-debug.log
/yarn-error.log
/vendor/

/public/hot
/public/storage
/storage/*.key
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/tmp/
